.partners {
    padding: 100px 0;
    background-color: #EBEBEB;
}

.partners-title {
    margin-bottom: 40px;
}

.partners-subtitle {
    margin-bottom: 70px;
}

.partners__slider {
    position: relative;
    margin-bottom: 100px; ;
}

.partners__slider .slick-arrow {
    display: block;
    position: absolute;
    top: auto;
    bottom: -144px;
    width: 60px;
    height: 60px;
    background-color: #005FA3;
}

.partners__slider .slick-arrow:hover {
    background-color: #005FA3;
}

.partners__slider .slick-arrow:focus {
    background-color: #005FA3;
}


.partners__slider .slick-arrow.slick-prev {
    right: 60px;
    left:auto;
    opacity: 0.5;
    position: absolute;
}

.partners__slider .slick-arrow.slick-next {
    right: 0;
}

.partners__slider .slick-arrow.slick-prev::before{
    content: url(../../assets/icons/back-arrow.svg);
}

.partners__slider .slick-arrow.slick-next::before{
    content: url(../../assets/icons/next-arrow.svg);

}

.partners__slider-img {
    width: 255px;
    height: 135px;
}


.partners__slider .slick-dots {
    bottom: -112px;
    left: 0;
    width: auto;
}

.partners__slider .slick-dots li button {
    border-radius: 50%;
    background-color: #005FA3;
    opacity: 0.3;
    width: 10px;
    height: 10px;
}

.partners__slider .slick-dots li button::before {
    content: none;
}

.partners__slider .slick-dots li.slick-active button {
    opacity: 1;
}